@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-end {
  align-items: flex-end;
}

.useless {
  padding-left: 8.33%;
  padding-right: 8.33%;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  height: 600px;
  background-image: url(./../img//backgr.jpg);
}

.navBar {
  padding-top: 26px;
}

.hamburger {
  margin-bottom: 6px;
}

.header > h1 {
  font-size: 52px;
  letter-spacing: 2px;
  color: #ffffff;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  line-height: 45px;
  margin-top: 215px;
}

.header > h1 + form {
  margin-top: 40px;
  height: 41px;
}

button[type='submit'] {
  width: 123px;
  background-color: #fd4f32;
  color: white;
}

.header input[type='text'] {
  width: 325px;
  padding-left: 14px;
}

.top-destinations {
  padding-top: 59px;
  padding-bottom: 69px;
}
